@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");


@import url("components/card.css");

@media(max-width: 900px) {
	.container {
		width: 800px;
	}
}

@media(max-width: 500px) {
	.container {
		width: 400px; 
		}
}

body { 
font-family:'Montserrat',sans-serif;
font size: 18px;
}

h1 { 

	font-family:'Montserrat',sans-serif;
	font-weight: bold;
	text-align: center;
 	color: #FFB144;
}

h2 {
	font-family:'Montserrat',sans-serif;
	font-weight: bold;
	text-align: center;
}

p { 
	text-align: center;
}

a { 
	text-decoration: none;
	color: #FFC97A;
	align-content: center;
}

.list-inline {
	list-style: none;
	padding-left: 0px; 
	text-align: center;
}

.list-inline li {
	display: inline;
	padding: 20px;
}
.list-inline i {
	font-size: 30px;
}

h3 {
	font-family:'Montserrat',sans-serif;
	font-weight: bold;
	text-align: center;
}
